* {
    bg-col:  #24273A;
    bg-col-light: #24273A;
    border-col: #CA9EE6;
    selected-col: #24273A;
    blue: #8AADF4;
    fg-col: #CAD3F5;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
}

